*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(7, 8, 12); 
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #282828;
}


#wrapper {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: white;
  border-radius: 5px;
}

.social-icons-top {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
  opacity: 0.5;
}

/* hero style start */
#feature {
  margin-top: 20px;
}

#hero-img {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  background-color: rgb(55 55 64 / 65%);
  position: absolute;
  width: 100%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 5%;
  overflow:hidden;
  clip-path:polygon(
    0 0%,
    10% 0,
    90% 0,
    100% 0%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  )
  
}



.contact-btn {
  margin: 20px;
  width: 140px;
  font-size: 20px;
  height: 60px;
  border: 1px solid;
  outline: none;
  background: #171528;
  color: #94e511f5;
  cursor: pointer;
  border-radius: 10px;
}

.contact-btn:hover {background-color:black}



.hero {
  position: relative;
}

.hero-title h1{
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 1rem;
  color: white;
  padding: 1.5rem;
  font-family: math;

}

.hero-title p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
  font-family: math, sans-serif;
}
/* hero style end */


.articleMain {
  margin: 10px 110px 20px 110px;
}
/* about-me style start */
#about-me {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#about-me h2 {
	font-weight: bolder;
  margin: 1rem;
  font-size: xx-large;
  letter-spacing: 0.1rem;
}

#about-me p {
  letter-spacing: 0.1rem;
  font-size: larger;
  line-height: 2.5rem;
}
/* about-me style end */

/* projects style start */
.projects {
  background-color: #171528;
}
.projects-title {
text-align: center;
margin: 2rem;
font-size: 2rem;
font-family: math;
color: whitesmoke;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-pic {
  height: auto;
  width: 100%;
  margin: 15px;
}

.card {
	background: white;
	margin-bottom: 2em;	
  flex: 0 1 calc(25% - 1em);
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}
/* projects style end */

/* form style start */
.flex-container {
  display: flex;
}

.form {
  flex: 1;
  background-color: #1c1a1e;
}

.form-title {
  margin: 1rem 1rem;
  color: white
  ;
}

.form input, textarea {
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 5px;
}

.btn {
  display: block;
  margin: 20px;
  width: 140px;
  font-size: 20px;
  height: 60px;
  border: 1px solid;
  outline: none;
  background: #171528;
  color: #94e511f5;
  cursor: pointer;
  border-radius: 10px;
}

.sidebar {
  border: 1px solid #000000;
  flex: 0 1 250px;
  background: rgb(90 90 92);
}

a:link, i {
  color: black;
}
.fa {
font-size: 48px;
margin: 5px;
}
/* form style end */
.footer {
  border-top: 1px solid gray;
}

.footerText {
  text-align: center;
  padding: 10px 20px;
}



